body{
	background-color: grey;
	color: white;
}

.logo {
	background: radial-gradient(#3F3F3F 30%, #323232 70%);
	width: 100%;
	padding-bottom: 30px;
	text-align: center;


}

.history-item {
	width:100%;
	background-color: lightgrey
}

.info {
	height: 200px;
	background-color: lightgrey;
	color:black;
}

.placeholder {
	height:100px
}

.description {
	margin-top: 20px;
	margin-bottom: 20px;
	/*#margin-left: 10em;

	border: 1px solid #5151c2;*/
	overflow: auto;
	/*#clear: right;*/

}
.descriptiontext {
	/*border: 1px solid #b38a22;*/
	padding-left: 10px;
	margin-left: 120px; /*# von img= 100+2*10*/
}
.descriptionimg {
	padding-left: 10px;
	padding-right: 10px;
	/*border: 1px solid #73AD21;*/
	float:left;
	clear:right;

}

.descriptionimg img {
		width: 100px;
		height: 100px;
}

#descriptionroot {
	margin-left: 100px;
	margin-right: 100px;
}
#headerbar {
	background-color: yellow;
}
#headerbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#headerbar li {
    float: left;
}

#headerbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#headerbar .activepage {
    background-color: #4CAF50;
}
#headerbar li a:hover:not(.activepage) {
    background-color: #111;
}

#headerbar li a:hover:not(.notactive) {
	background-color: #3b963e;
    /*font-weight: bold;*/

}

#loginform {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

/*
.loginelements {
	text-align: left;
}
*/
.loginelements input {
	/*#text-align: right;*/
}

#historytable {
	margin-top: 10px;
	margin-left: 50px;

}
